.wpsm_ac_h_i, #myplugin_sectionid, #wpadminbar a, #wpadminbar a img, #wpadminbar a, #wp-admin-bar-w3tc, #wp-admin-bar-updraft_admin_node, #wp-admin-bar-comments, #wp-admin-bar-wplv-menu, #advanced-sortables, #wpupper-share-buttons, #footer-thankyou {
    display: none;
}

#toplevel_page_w3tc_dashboard .wp-menu-image {
    height: 0 !important;
}

#wpadminbar ul#wp-admin-bar-root-default > li {
    padding: 0;
}

#wp-admin-bar-updraft_admin_node.menupop div.ab-item.ab-empty-item {
    padding: 14px 10px 15px 10px;
}

.caldera-editor-header {
    position: relative;
}

.toplevel_page_caldera-forms .wrap {
    padding-top: 0;
}

.caldera-config-editor-main-panel > h3, .caldera-editor-body > h3 {
    position: relative;
    top: 0;
}

.caldera-config-editor-side-panel {
    position: absolute;
    right: -440px;
    top: 90px;
}