.DS_Store
.idea
.htaccess
.vscode
wp-config.php
nginx.conf
wordfence-waf.php
license.txt
readme.html
.user.ini
.atomignore

*.log

wp-content/plugins
wp-content/advanced-cache.php
wp-content/languages
wp-content/mu-plugins
wp-content/object-cache.php
wp-content/uploads

wp-content/w3tc-config
wp-content/aiowps_backups
wp-content/cache
wp-content/updraft
wp-content/upgrade
wp-content/wflogs

wp-admin/install.php